= simple_form_for(@person) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

    - @person.sources.each do |source|
      = f.fields_for :sources, source do |ff|
        %p
          = source&.provider&.capitalize
          = ff.input :provider, as: :hidden
          = ff.input :account

  .form-actions
    = f.button :submit
