.row
  - @people.each do |person|
    .col-md-4
      .card
        .card-block
          .card-title
            %img{ src: 'https://dummyimage.com/100x100'}
            %h2{style: 'display:inline'}= person.name
          .card-text
            %dl
              - person.sources.each do |source|
                %dt
                  = source.provider
                %dd
                  = source.texts.first&.body&.split("\n")&.first
            %p
              = link_to 'Edit', edit_person_path(person)
              = link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }
