%p#notice= notice

%p
  %b Name:
  = @person.name
%p
  %b Twitter:
  = @person.twitter.score
  = @person.twitter.magnitude
%p
  %b Github:
  = @person.github.score
  = @person.github.magnitude
%p
  %b Blog:
  = @person.blog.score
  = @person.blog.magnitude
%p
  %b Magnitude:
  = @person.magnitude

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
