!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "ProfileOf"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  %body
    %nav.navbar.navbar-toggleable-lg.navbar-light.bg-faded.sticky-top
      %a.navbar-brand{ href: root_path } ProfileOf
      .navbar-collapse.collapse.hoge
        %ul.navbar-nav
          %li.nav-item= link_to "Link 1", "/path1", class: 'nav-link'
          %li.nav-item= link_to "Link 2", "/path2", class: 'nav-link'
          %li.nav-item= link_to "Link 3", "/path3", class: 'nav-link'
      %button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target=".hoge")
        %span.navbar-toggler-icon
    .container-fluid
      .row
        .col-md-2.offset-md-10
          = link_to '+', new_person_path

      .row
        .col-md-12
          = yield
      .row
        .col-md-2
          %footer
            %p &copy; ichiroc 2017
